.vityl-discover-cta {
  background-color: $color-teal;
  color: $color-eggshell;
  overflow: hidden;
  padding: 50px 0 48px;
}

@media(min-width: $breakpoint-mobile-start) {
  .vityl-discover-cta {
    padding: 108px 0 129px;
  }

  .vityl-discover-cta__row {
    display: flex;
    justify-content: space-between;
  }

  .vityl-discover-cta__left-col {
    width: 580px;
  }

  .vityl-discover-cta__button-row {
    display: flex;
    position: relative;

    &::after {
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-name: vitylDiscoverCtaRightColAnimation;
      background-color: #f38b7b;
      border-radius: 50%;
      content: '';
      height: 350px;
      left: 50%;
      position: absolute;
      top: 210px;
      transform: translateX(-50%);
      width: 350px;
      z-index: 1;
    }

    a {
      position: relative;
      z-index: 2;
    }
  }

  .vityl-discover-cta__button-col+.vityl-discover-cta__button-col {
    margin-left: 40px;
  }
}

@media(max-width: $breakpoint-mobile-start) {
  .vityl-discover-cta {
    position: relative;
    
    &::after {
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-name: vitylDiscoverCtaRightColMobileAnimation;
      background-color: #f38b7b;
      border-radius: 50%;
      content: '';
      height: 250px;
      left: 50%;
      position: absolute;
      top: 100%;
      transform: translateX(-50%);
      width: 250px;
      z-index: 1;
    }

    .container {
      position: relative;
      z-index: 2;
    }
  }

  .vityl-discover-cta__row {
    margin-top: 6px;
  }

  .vityl-discover-cta__right-col {
    margin-top: 76px;
    text-align: center;
  }

  .vityl-discover-cta__button-col+.vityl-discover-cta__button-col {
    margin-top: 24px;
  }
}

@media(min-width: $breakpoint-mobile-start) and (max-width: $container-width) {
  .vityl-discover-cta__left-col {
    width: 500px;
  }
}

@keyframes vitylDiscoverCtaRightColAnimation {
  from {top: 210px;}
  to {top: -530px;}
}

@keyframes vitylDiscoverCtaRightColMobileAnimation {
  from {top: 100%;}
  to {top: -250px;}
}
