.vityl-signup-post {
  background-color: $color-mint;
  margin: 37px -40px;
  overflow: hidden;
  padding: 78px 0;
}

.vityl-signup-post-page {
  background-color: $color-mint;
  overflow: hidden;
  padding: 78px 0;
}

.vityl-signup__form {
  .gform_validation_errors {
    h2 {
      color: $color-coral;
      font-size: 12px;
    }
  }
  
  .gfield_validation_message {
    color: $color-coral;
    font-size: 12px;
  }
  
  .gfield_label {
    display: none;
  }
  
  .ginput_container_email {
    input[type=text] {
      background-color: transparent;
      border: 0;
      border-bottom: 2px solid $color-rich-black;
      font-size: 16px;
      padding: 5px 0;
      width: 100%;
    }
  }
  
  .gform_footer {
    input[type=submit] {
      @extend %btn;
      @extend %btn--black-border;
      background-color: transparent;
    }
  }
}

.vityl-signup__left-col {
  h3 {
    font-size: 18px;
    line-height: 1.78;
  }
}

@media(min-width: $breakpoint-mobile-start) {
  .vityl-signup-post {
    margin: 110px calc(395px - 50vw);
    padding: 134px 0 132px;
  }
  
  .vityl-signup-post-page {
    padding: 134px 0 132px;
  }
  
  .vityl-signup__row {
    align-items: flex-end;
    display: flex;
  }
  
  .vityl-signup__left-col {
    width: 645px;
  
    h3 {
      font-size: 32px;
      letter-spacing: 0.05em;
      line-height: 1.3125;
    }
  }
  
  .vityl-signup__right-col {
    padding: 0 0 12px 25px;
    width: calc(100% - 645px);
  }

  .vityl-signup__form {
    position: relative;
    width: 100%;

    &::after {
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-name: vitylSignupCtaRightColAnimation;
      background-color: #bbe3cb;
      border-radius: 50%;
      content: '';
      height: 350px;
      left: 50%;
      position: absolute;
      top: 210px;
      transform: translateX(-50%);
      width: 350px;
      z-index: 1;
    }
    
    .gform_validation_errors {
      position: absolute;
      top: -27px;
    }
    
    .gform_wrapper {
      position: relative;
      z-index: 2;
    }
    
    .ginput_container_email {
      input[type=text] {
        padding: 14px 0 23px;
      }
    }
    
    .gform_footer {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .gfield {
      position: relative;
    }
    
    .gfield_validation_message {
      bottom: -35px;
      left: 0;
      position: absolute;
    }
  }
}

@media(max-width: $breakpoint-mobile-start) {
  .vityl-signup-post-page,
  .vityl-signup-post {
    position: relative;
    
    &::after {
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-name: vitylSignupCtaRightColMobileAnimation;
      background-color: #bbe3cb;
      border-radius: 50%;
      content: '';
      height: 250px;
      left: 50%;
      position: absolute;
      top: 100%;
      transform: translateX(-50%);
      width: 250px;
      z-index: 1;
    }

    .container {
      position: relative;
      z-index: 2;
    }
  }

  .vityl-signup__form {
    margin-top: 50px;
      
    .gform_footer {
      margin-top: 8px;
      text-align: center;
    }
  }
}

@keyframes vitylSignupCtaRightColAnimation {
  from {top: 210px;}
  to {top: -530px;}
}

@keyframes vitylSignupCtaRightColMobileAnimation {
  from {top: 100%;}
  to {top: -250px;}
}
