<section class="vityl-link-cta">
    <div class="container">
        <div class="vityl-link-cta__row">
            <div class="vityl-link-cta__left">
                <h2 class="vityl-h2">{{ title }}</h2>
                <div class="vityl-p">
                    <p>{{ content }}</p>
                </div>
            </div>
            <div class="vityl-link-cta__right">
                <a class="btn btn--coral" href="{{ link.url }}">{{ link.title }}</a>
            </div>
        </div>
    </div>
</section>