$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-semiblack: 800;
$font-weight-black: 900;

$container-width: 1210px;

$font-main-family: 'Neuzeit Grotesk';
$font-sub-family: 'Gazpacho';

$color-rich-black: #000;
$color-eggshell: #fffdf2;
$color-mint: #a1d5b0;
$color-coral: #f68f78;
$color-lemon: #e6e75e; //#fcfadd
$color-teal: #007f87;
$color-blue: #3e9aff;//#e3eff4

$breakpoint-mobile-start: 1000px;
