<section class="vityl-join-cta">
    <div class="container">
        <div class="vityl-join-cta__row">
            <div class="vityl-join-cta__left-col">
                <h2 class="vityl-h2">{{ title }}</h2>
            </div>
            <div class="vityl-join-cta__right-col">
                <a class="btn btn-w200 btn--white-border" href="{{ link.url }}">{{ link.title }}</a>
            </div>
        </div>
    </div>
</section>