<section class="vityl-what">
    <div class="container">
        <div class="vityl-what__row">
            <div class="vityl-what__col">
                <h2 class="vityl-h2">{{ title }}<span><svg width="906" height="16" viewBox="0 0 906 16" fill="none"><path d="M2 2C34.2881 2 34.2186 14 66.5 14C98.7814 14 111.361 2 130.5 2C149.639 2 160.5 14 195 14C229.5 14 235.5 2 259.5 2C283.5 2 290.5 14 326 14C361.5 14 363 2 389 2C415 2 420.712 14 453 14C485.288 14 491 2 517 2C543 2 544.5 14 580 14C615.5 14 622.5 2 646.5 2C670.5 2 676.5 14 711 14C745.5 14 756.361 2 775.5 2C794.639 2 807.219 14 839.5 14C871.781 14 871.712 2 904 2" stroke="black" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/></svg></span></h2>
            </div>
            <div class="vityl-what__col">
                <div class="vityl-p">
                    <p>{{ content }}</p>
                </div>
            </div>
        </div>
    </div>
</section>