<section class="vityl-white-paper">
    <div class="container">
        <div class="vityl-white-paper__row">
            <div class="vityl-white-paper__left">
                <h2 class="vityl-h2">{{ title }}</h2>
                <div class="vityl-p">
                    <p>{{ content }}</p>
                </div>
            </div>
            <div class="vityl-white-paper__right">
                {{ gravity_form_short_code|shortcodes }}
            </div>
        </div>
    </div>
</section>